[Unit]
Description=Debian Code Search: package feeder

[Service]
ExecStart=/srv/dcs/bin/dcs-feeder \
  -shards=172.17.0.1:21010,172.17.0.1:21011,172.17.0.1:21012,172.17.0.1:21013,172.17.0.1:21014,172.17.0.1:21015 \
  -tls_cert_path=/srv/dcs/prod-cert.pem \
  -tls_key_path=/srv/dcs/prod-key.pem

[Install]
WantedBy=multi-user.target
