[Unit]
Description=Debian Code Search: web frontend

[Service]
WorkingDirectory=/srv/dcs
ExecStart=/srv/dcs/bin/dcs-web \
  -source_backends=172.17.0.1:28080,172.17.0.1:28081,172.17.0.1:28082,172.17.0.1:28083,172.17.0.1:28084,172.17.0.1:28085 \
  -tls_cert_path=/srv/dcs/prod-cert.pem \
  -tls_key_path=/srv/dcs/prod-key.pem \
  -headroom_percentage=0.05

[Install]
WantedBy=multi-user.target
