cmd/index-backend/index-backend
cmd/source-backend/source-backend
cmd/dcs-web/dcs-web
cmd/dcs-index/dcs-index
cmd/compute-ranking/compute-ranking
cmd/dcs-rs-cleanup/rs-cleanup
cmd/dcs-package-importer/dcs-package-importer
cmd/dcs-rs-deploy/dcs-rs-deploy
cmd/dcs-varz-to-influxdb/dcs-varz-to-influxdb
*.swp
cmd/dcs-debmirror/dcs-debmirror
cmd/dcs-feeder/dcs-feeder
cmd/dcs-rs-cleanup/dcs-rs-cleanup
cmd/dcs-index-backend/dcs-index-backend
cmd/dcs-tail-fedmsg/dcs-tail-fedmsg
cmd/dcs-source-backend/dcs-source-backend
static/critical.min.css
static/critical.min.css.gz
static/cssrelpreload.min.js
static/cssrelpreload.min.js.gz
static/debcodesearch.min.css
static/debcodesearch.min.css.gz
static/instant.min.js
static/instant.min.js.gz
static/jquery.min.js.gz
static/loadCSS.min.js
static/loadCSS.min.js.gz
static/non-critical.min.css
static/non-critical.min.css.gz
static/service-worker.min.js
static/service-worker.min.js.gz
static/url-search-params.min.js.gz
static/Pics/openlogo-50.svg.gz
static/Pics/rackspace.svg.gz
debian/*.debhelper.log
obj-*
