.include /lib/systemd/system/dcs-common.service

[Unit]
Description=Debian Code Search: fedmsg tail

[Service]
ExecStart=/usr/bin/dcs-tail-fedmsg

[Install]
WantedBy=multi-user.target
