.include /lib/systemd/system/dcs-common.service

[Unit]
Description=Debian Code Search: index backend

[Service]
ExecStart=/usr/bin/dcs-index-backend -index_path=/dcs-ssd/unpacked/full.idx

[Install]
WantedBy=multi-user.target
