[Unit]
Description=Debian Code Search: index backend

[Service]
User=dcs
Group=dcs
ExecStart=/usr/bin/index-backend -listen=:2908%i -indexpath=/dcs/index.%i.idx
# Since logging is very verbose, we log to /dev/null for now
StandardOutput=null
StandardError=journal
RestartSec=1
Restart=on-failure

[Install]
WantedBy=multi-user.target
