.include /lib/systemd/system/dcs-common.service

[Unit]
Description=Debian Code Search: index backend

[Service]
ExecStart=/usr/bin/index-backend -listen_address=:2908%i -index_path=/dcs/index.%i.idx

[Install]
WantedBy=multi-user.target
