.include /lib/systemd/system/dcs-common.service

[Unit]
Description=Debian Code Search: source backend
After=postgresql.service

[Service]
ExecStart=/usr/bin/dcs-source-backend -unpacked_path=/dcs-ssd/unpacked/

[Install]
WantedBy=multi-user.target
