</div>
<div id="footer">
<hr>
<div id="fineprint">
<p>© 2012 Debian Code Search - <a href="./contact" rel="nofollow">Contact / Send Feedback</a></p>
<p>dcs-web <a href="https://github.com/Debian/dcs/commit/{{.version.Revision}}">{{.version}}</a></p>
{{ if eq .host "codesearch.debian.net" }}
<p>Did you know? You can access DCS via Cloudflare at <a href="https://dcs.zekjur.net">https://dcs.zekjur.net</a>.</p>
{{ end }}
</div>
</div>
<script type="text/javascript">
var el = document.getElementById('progressbar');
if (el !== null) {
    el.style.display = 'block';
}
</script>
<script type="text/javascript" src="/url-search-params.min.js"></script>
<script type="text/javascript" src="/loadCSS.min.js"></script>
<script type="text/javascript" src="/cssrelpreload.min.js"></script>
<script type="text/javascript" src="/jquery.min.js"></script>
<script type="text/javascript" src="/instant.min.js?17"></script>
</body>
</html>
