</div>
<div id="footer">
<hr>
<div id="fineprint">
<a href="http://developer.rackspace.com/"><img src="/Pics/rackspace.svg" alt="Powered by Rackspace Hosting" width="200" height="59" border="0" style="float: right"></a>
<p>© 2012-2016 Debian Code Search - <a href="./contact" rel="nofollow">Contact / Send Feedback</a></p>
<p>dcs-web {{.version}}, see <a href="https://github.com/Debian/dcs/">github.com/Debian/dcs</a></p>
</div>
</div>
<script type="text/javascript">
var el = document.getElementById('progressbar');
if (el !== null) {
    el.style.display = 'block';
}
</script>
<script type="text/javascript" src="/url-search-params.min.js"></script>
<script type="text/javascript" src="/loadCSS.min.js"></script>
<script type="text/javascript" src="/cssrelpreload.min.js"></script>
<script type="text/javascript" src="/jquery.min.js"></script>
<script type="text/javascript" src="/instant.min.js?10"></script>
</body>
</html>
