.include dcs-common.service

[Unit]
Description=Debian Code Search: package feeder

[Service]
ExecStart=/srv/dcs/bin/dcs-feeder \
  -shards=localhost:21010,localhost:21011,localhost:21012,localhost:21013,localhost:21014,localhost:21015 \
  -tls_cert_path=/srv/dcs/prod-cert.pem \
  -tls_key_path=/srv/dcs/prod-key.pem

[Install]
WantedBy=multi-user.target
