Source: dcs
Section: net
Priority: extra
Maintainer: Michael Stapelberg <stapelberg@debian.org>
Build-Depends:
 debhelper (>= 8.0.0),
 dh-golang (>= 1.1),
 fonts-inconsolata,
 fonts-roboto,
 golang-codesearch-dev,
 golang-go,
 golang-go.crypto-dev,
 golang-godebiancontrol-dev,
 golang-pq-dev,
 libjs-jquery,
 woff-tools,
 yui-compressor
Standards-Version: 3.9.2
Vcs-Browser: https://github.com/Debian/dcs/
Vcs-Git: https://github.com/Debian/dcs/

Package: dcs
Architecture: any
Depends:
 dpkg-dev,
 ${misc:Depends},
 ${shlibs:Depends}
Built-Using: ${misc:Built-Using}
Description: Debian Code Search
 Server binaries, tools and templates/static assets to run Debian Code Search.

Package: dcs-doc
Architecture: all
Description: documentation for dcs
 <insert long description, indented with spaces>
