#!/usr/bin/make -f

export DH_GOLANG_INSTALL_ALL=1

# DCS currently declares two go:generate commands:
# 1. Minify static assets using esbuild (go generate ./static).
# 2. Generate Protobuf code (go generate ./internal/proto/...).
export DH_GOLANG_GO_GENERATE=1

override_dh_auto_configure:
	cp /usr/share/javascript/highlight.js/highlight.min.js static/highlightjs.min.js
	cp /usr/share/javascript/highlight.js/styles/default.css static/highlightjs-default.min.css
	dh_auto_configure

%:
	dh $@ --buildsystem=golang --with=golang --with=single-binary
